<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.phases_of_democracy">

    <application
        android:name=".GlobalClass"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Leaderboard"></activity>
        <activity android:name=".GameOver2" />
        <activity android:name=".GameOver1" />
        <activity android:name=".CurrentStatus" />
        <activity android:name=".PopActivity" />
        <activity android:name=".Login" />
        <activity android:name=".Register" />
        <activity android:name=".Economy" />
        <activity android:name=".Welfare" />
        <activity android:name=".Taxation" />
        <activity android:name=".Safety" />
        <activity android:name=".Infrastructure" />
        <activity android:name=".Healthcare" />
        <activity android:name=".ForeignPolicy" />
        <activity android:name=".Education" />
        <activity android:name=".Environment" />
        <activity android:name=".LandingPage" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>